<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<link rel="icon" href="/img/weather.png">

<link rel="stylesheet" href='css/styles.css' type="text/css">
</head>
<body>
   <div class="main-content">
    {{>header}}
    <p>This service was created by James O'Neill. It makes use of the Mapbox and Weatherstack API's respectively.</p>

    <a><img class="portrait" src="img/meFam.jpg"></a>


    </div>

    {{>footer}}

</body>

</html>