<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<link rel="icon" href="/img/weather.png">

<link rel="stylesheet" href='css/styles.css' type="text/css">
</head>
<body>
   <div class="main-content">
    {{>header}}
    <p>This service was created by James O'Neill. It makes use of the Mapbox and Weatherstack API's respectively.</p>
    <p>You can find the source code for this project on my Github account. </p> <a href="https://github.com/jamesoneill997/node-weather-app">Link to source code</a>

    <div class="images">
        <a><img class="portrait" src="img/meFam.jpg"></a>
    </div>

    </div>

    {{>footer}}

</body>

</html>