<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<link rel="icon" href="/img/weather.png">

<link rel="stylesheet" href='css/styles.css' type="text/css">
</head>
<body>
   <div class="main-content">
    {{>header}}
    <a><img class="portrait" src="img/meFam.jpg"></a>

    </div>

    {{>footer}}

</body>

</html>