<!DOCTYPE html>
<html>
<head>
    <title>{{error}}</title>
<link rel="stylesheet" href='css/styles.css' type="text/css">
<link rel="icon" href="/img/weather.png">

</head>
<body>
    {{>header}}
   <div class="main-content">
       <p>Sorry, page could not be found. Please check the URL.</p>
    </div> 
    {{>footer}}
</body>

</html>