<!DOCTYPE html>
<html>
<head>
<title>My weather service</title>
<link rel="icon" href="/img/weather.png">

<link rel="stylesheet" href='css/styles.css' type="text/css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>

    </div>
    {{>footer}}
</body>

</html>